<div class='message'>
  <div>
    <span class='author'>
      <%= message.user.username %>
    </span>
    <span class='timestamp'>
      <%= message.created_at.strftime('%b %e, %l:%M %p') %>
    </span>
  </div>
  <!-- TODO: (16) By default mark a message as encrypted -->
  <div class="content" data-sender='<%= message.user.username %>'>
    <%= message.content %>
  </div>
</div>
